<div id="review-container">
  <div>
    <h3>Features I used</h3>
    <ol>
      <li>Preview Transaction API - show and update prices (recurring + one-time)</li>
      <li>Create Transaction API – creates the txn to pass to checkout via PaddleJS</li>
      <li>Get Customer API - show customer details</li>
      <li>Get Transaction API - to grab sub_id</li>
      <li>Get Subscription API - show subscription details</li>
      <li>List Addresses API - list address details</li>
      <li>List Business API - list business details</li>
      <li>Preview Subscription Update API - previewing price change, previewing a price <br> when adding a new recurring price, previewing price with discount</li>
      <li>Create Discount Update API - create a discount</li>
      <li>Update Subscription API - make update to subscription</li>
      <li>List Transactions API - show txn details </li>
      <li>Get PDF invoice for txn - show invoice PDF link</li>
    </ol>
  </div>
  <div>
    <h3>Features I'd add with more time</h3>
    <ol>
      <li>Add & Update Addresses and Businesses</li>
      <li>Create one-off transaction</li>
      <li>Update paymnet method details</li>
      <li>Create some adjustments, e.g. a refund</li>
      <li>Pause & resume a subscription</li>
    </ol>
  </div>
</div>
