<div class="success-page">
  <h1>Success!</h1>
  <p>Thanks for subscribing!</p>
  <p>Go to your <%= link_to "Profile", my_profile_path %> to see the details of and manage your subscription.</p>
</div>
